.dashboard_settings input[maxlength='2'] {
    width: 2em;
}

.dashboard_settings input[maxlength='5'] {
    width: 5em;
}

.dashboard_settings .error {
    border-color: red;
}

#inbox_checkbox_group {
    display: inline-block;
    position: relative;
    top: 0.8em;
    margin-right: 1em;
}

#inbox_checkbox_group label {
    display: inline-block;
    width: 6em;
}
